aws_region  = "us-east-1"
project_name = "three-tier-eks"
environment  = "dev"

vpc_cidr = "10.20.0.0/16"

availability_zones = [
  "us-east-1a",
  "us-east-1b",
  "us-east-1c"
]

public_subnet_cidrs = [
  "10.20.0.0/24",
  "10.20.1.0/24",
  "10.20.2.0/24"
]

private_subnet_cidrs = [
  "10.20.10.0/24",
  "10.20.11.0/24",
  "10.20.12.0/24"
]

single_nat_gateway         = true
enable_s3_gateway_endpoint = true
enable_interface_endpoints = false
flow_log_retention_days    = 365

ecr_repository_names = [
  "backend",
  "frontend"
]

ecr_image_tag_mutability           = "IMMUTABLE"
ecr_scan_on_push                   = true
ecr_force_delete                   = false
ecr_untagged_image_retention_days  = 7
ecr_maximum_image_count            = 30
ecr_kms_deletion_window_days       = 30

eks_kubernetes_version = "1.36"

eks_endpoint_public_access = false
eks_public_access_cidrs     = []

# Temporary until dedicated EKS access entries are implemented.
eks_bootstrap_cluster_creator_admin_permissions = true

# Keep false in development so the environment can be destroyed.
eks_deletion_protection      = false
eks_kms_deletion_window_days = 30

node_group_name    = "general"
node_capacity_type = "ON_DEMAND"

node_instance_types = [
  "t3.medium"
]

node_disk_size           = 50
node_minimum_size        = 1
node_desired_size        = 2
node_maximum_size        = 4
node_maximum_unavailable = 1
node_enable_repair       = true
tags = {
  Owner = "platform-engineering"
}