bucket       = "REPLACE_WITH_TERRAFORM_STATE_BUCKET"
key          = "eks-gitops/dev/addons/terraform.tfstate"
region       = "us-east-1"
encrypt      = true
kms_key_id   = "REPLACE_WITH_TERRAFORM_STATE_KMS_KEY_ARN"
use_lockfile = true